.botmcpy2 {
  height: 150px;
  width: 100vw;
  background: black;
  position: absolute;
  top: 850px;
}

form {
  margin: 10px;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  margin-top: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  -webkit-text-stroke: 1px black;
  text-transform: uppercase;
}
input {
  height: 35px;
  width: 340px;
}
.frmdv {
  width: 70vw;
  position: absolute;
  left: 226px;
  background: linear-gradient(
    rgba(108, 117, 125, 0.6),
    rgba(108, 117, 125, 0.7)
  );
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}
.btn2 {
  position: absolute;
  top: 620px;
  left: 41%;
}
