<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS Sheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto+Mono:wght@100&display=swap"
      rel="stylesheet"
    />

    <title>Contact Us</title>
  </head>
  <body>
      <div class="bg1">
      <div class="tophd">
        <h1 class="tophd">WEB JUNKIE.com</h1>
      </div>
      <div>
        <ul class="list">
          <li><a href="{{ url_for('home_page') }}">Home</a></li>
          <li><a href="#">Stores</a></li>
          <li><a href="{{url_for('contact_page')}}">Contact Us</a></li>
        </ul>
      </div>
      <div class="frmdv">
        <form action="">
      <!-- Name -->
      <label for="name">Name::</label>
      <input type="text" name="name" id="name" />
      <br />
      <br />
      <!-- email -->
      <label for="email">Email::</label>
      <input type="text" name="email" id="email" />
      <br />
      <br />
      <!-- Description -->
      <p>Description::</p>
      <br>
      <textarea
        name="description"
        id=""
        cols="60"
        rows="20"
        placeholder="Your Comment"
        style="text-align: center;"
      ></textarea>
      <button class="btn2">Submit</button>
    </form>
      </div>
        <div class="botmcpy2">
        <p class="cpytxt">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil hic
          eveniet assumenda quod numquam tempore beatae quisquam optio iure modi
          placeat at dolores architecto, iusto amet dolor, sit sint illo.
        </p>
      </div>
  </body>
</html>
