<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <!-- CSS Link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto+Mono:wght@100&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="bg1">
      <div class="tophd">
        <h1 class="tophd">WEB JUNKIE.com</h1>
      </div>
      <div>
        <ul class="list">
          <li><a href="{{ url_for('home_page') }}">Home</a></li>
          <li><a href="#">Stores</a></li>
          <li><a href="{{url_for('contact_page')}}">Contact Us</a></li>
        </ul>
      </div>

      <p class="txt1">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut tempore
        repudiandae autem suscipit, rem placeat cupiditate sequi quas iusto
        ipsam libero impedit rerum, atque quasi inventore obcaecati delectus
        architecto provident eveniet asperiores illum aspernatur vitae
        reiciendis. Distinctio harum atque voluptates quidem, est hic illum
        corrupti, reiciendis totam labore quia assumenda.
      </p>

      <button>Join Us</button>
    </div>
    <div class="bg2">
      <div class="botmcpy">
        <p class="cpytxt">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil hic
          eveniet assumenda quod numquam tempore beatae quisquam optio iure modi
          placeat at dolores architecto, iusto amet dolor, sit sint illo.
        </p>
    </div>
    <p class="txt2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aliquid doloremque provident deserunt aperiam quaerat fuga eius enim aspernatur amet!</p>
    <div class="card1">
      <img src="{{ url_for('static', filename='assets/avatar1.jpg') }}"  alt="Avatar1">
      <div class="container">
    <h4 class="intro"><b>John Doe</b></h4>
    <p class="intro">Architect & Engineer</p>
  </div>
    </div>
        <div class="card2"><img src="{{url_for('static', filename='assets/avatar2.jpg')}}"  alt="Avatar2">
        <div class="container">
    <h4 class="intro"><b>Jason Doe</b></h4>
    <p class="intro">Architect & Engineer</p>
  </div></div>
  </body>
</html>
