<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stores</title>

    <!-- CSS Link -->
    <link rel="stylesheet" href="/css files/styles.css" />
    <link rel="stylesheet" href="/css files/styles2.css" />
    <link rel="stylesheet" href="/css files/styles3.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto+Mono:wght@100&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="bg1">
      <div class="tophd">
        <h1 class="tophd">WEB JUNKIE.com</h1>
      </div>
      <div>
        <ul class="list">
          <li><a href="index.html">Home</a></li>
          <li><a href="stores.html">Stores</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>

      <div class="text-on-left"><p>:Stores Page:</p></div>
      <div class="tables">
        <table class="table1">
          <!-- companies -->
          <tr>
            <th>companies</th>
            <th>CTS</th>
            <th>TCS</th>
            <th>WIPRO</th>
            <th>INfosys</th>
          </tr>

          <!-- systems -->
          <tr>
            <th>Systems</th>
            <td>10000</td>
            <td>50000</td>
            <td>40000</td>
            <td>20000</td>
          </tr>

          <!-- active -->
          <tr>
            <th>active</th>
            <td>9000</td>
            <td>47000</td>
            <td>39500</td>
            <td>12000</td>
          </tr>

          <!-- reserve -->
          <tr>
            <th>in pool</th>
            <td>1000</td>
            <td>3000</td>
            <td>500</td>
            <td>8000</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="botmcpy2">
      <p class="cpytxt">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil hic
        eveniet assumenda quod numquam tempore beatae quisquam optio iure modi
        placeat at dolores architecto, iusto amet dolor, sit sint illo.
      </p>
    </div>
  </body>
</html>
